.btn-warning {
	margin-top: 8px;
}
.content {
	overflow: auto;
	height: 300px;
	background-color: #fff;
}
.btn-smile:before {
	content: "\f118";
	padding: 5px 0;
	font-family: FontAwesome;
	font-size: 20px; 
	color: #fff;
	background-color: transparent;
}
.input__block {
	position: relative;
}
.input__field {
	display: inline-block;
	right: -130px;
	min-height: 50px;
	width: 84%;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(80,128,61,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(80,128,61,1);
	box-shadow: 0px 0px 3px 0px rgba(80,128,61,1);
}
.smile__block {
	background-color: #fff;
	border-radius: 5px;
	right: 0;
	top: -65px;
	padding: 15px 20px;
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.btn-smile {
	position: relative;
	margin-left: 5px;
}